<div class="frame index-frame">
  <div class="form-wrapper">
    <div class="card card-1">
      <div class="form-item form-header">
        <mat-progress-bar mode="determinate" value="{{ imageUploadProgress }}"></mat-progress-bar>
        <h1>Create Artist</h1>
      </div>

      <form class="form-item" [formGroup]="artistCreateForm" (ngSubmit)="onSubmit()" novalidate>
        <h2 class="form-item form-sub-header">Main Information</h2>
        <mat-form-field class="form-item">
          <input matInput placeholder="Artist name..." formControlName="name" required>
        </mat-form-field>
        <mat-form-field class="form-item">
          <mat-select placeholder="Years artist active..." formControlname="yearsActive" (change)="multiChange($event)" multiple>
            <mat-option *ngFor="let year of years" [value]="year">{{ year.year }}</mat-option>
          </mat-select>
        </mat-form-field>

        <h2 class="form-item form-sub-header">Artist Image</h2>
        <div class="form-img-container">
            <button class="img-input-btn" mat-raised-button type="button" (click)="imgFileInput.click()">Artist Photo</button>
            <button mat-raised-button *ngIf="imageFile" type="button" (click)="removeImageFile()">Remove Image</button>
  
            <input type="file" #imgFileInput (change)="fileChange($event)" accept=".jpg,.png" style="display: none">
            <input type="hidden" name="fileHidden" formControlName="image" required/>
          </div>

        <h2 class="form-item form-sub-header">Social Media</h2>
        <mat-form-field class="form-item">
          <input matInput placeholder="Soundcloud link..." formControlName="soundcloud">
          <mat-error *ngIf="artistCreateForm.controls.soundcloud.errors?.pattern">Not a valid artist soundcloud url [Ex. https://www.soundcloud.com/artistName]</mat-error>
        </mat-form-field>
        <mat-form-field class="form-item">
          <input matInput placeholder="Twitter link..." formControlName="twitter">
          <mat-error *ngIf="artistCreateForm.controls.twitter.errors?.pattern">Not a valid artist twitter url [Ex. https://www.twitter.com/artistName]</mat-error>
        </mat-form-field>
        <mat-form-field class="form-item">
          <input matInput placeholder="Spotify link..." formControlName="spotify">
          <mat-error *ngIf="artistCreateForm.controls.spotify.errors?.pattern">Not a valid artist spotify url [Ex. https://www.open.spotify.com/artist/artistId]</mat-error>
        </mat-form-field>
        <mat-form-field class="form-item">
          <input matInput placeholder="Instagram link..." formControlName="instagram">
          <mat-error *ngIf="artistCreateForm.controls.instagram.errors?.pattern">Not a valid artist instagram url [Ex. https://www.instagram.com/artistName]</mat-error>
        </mat-form-field>

        <h2 class="form-item form-sub-header">Description</h2>
        <div class="form-item form-desc">
          <tiny-mce [elementId]="'artist-create-editor'" (onEditorKeyup)="keyupHandlerFunction($event)" formControlname="description"></tiny-mce>
        </div>

        <div class="form-btn-group">
            <button *ngIf="!processing" mat-raised-button color="primary" type="submit" [disabled]="!artistCreateForm.valid">Submit</button>
            <button *ngIf="processing" mat-raised-button color="primary" type="submit" disabled><i class="fa fa-spinner fa-spin"></i></button>

            <button mat-raised-button routerLink="/admin/artists">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>