<footer class="container">
  <div class="col-xs-12 col-sm-12 col-md-8 text-left">
    <ul class="horizontal-list main-list">
      <li>
        <a class="silent" routerLink="/releases">Releases</a>
      </li>
      <li>
        <a class="silent" routerLink="/artists">Artists</a>
      </li>
      <li>
        <a class="silent" routerLink="/events">Events</a>
      </li>
      <li>
        <a class="silent">Shop</a>
      </li>
      <li>
        <a class="silent" routerLink="/about">About</a>
      </li>
      <li>
        <a class="silent" routerLink="/contact">Contact</a>
      </li>
    </ul>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-4 text-right">
    <ul class="horizontal-list icon-list">
      <li>
        <a href="https://www.youtube.com/channel/UC7v_f5CHsMsNiLAtJKXxCXg" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
      </li>
      <li>
        <a href="https://twitter.com/TradeKraftMusic" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      </li>
      <li>
        <a href="https://www.facebook.com/tradekraftcollective" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      </li>
      <li>
        <a href="https://www.instagram.com/tradekraftcollective/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      </li>
      <li>
        <a target="_blank"><i class="fa fa-spotify" aria-hidden="true"></i></a>
      </li>
      <li>
        <a target="_blank"><i class="fa fa-apple" aria-hidden="true"></i></a>
      </li>
      <li>
        <a href="https://soundcloud.com/tradekraftcollective" target="_blank"><i class="fa fa-soundcloud" aria-hidden="true"></i></a>
      </li>
    </ul>
    <label class="credit">2017 © Tradekraft</label>
    <label class="copyright">All Rights Reserved</label>
  </div>
  <div class="col-xs-12">
    <img class="logo-black" src="{{ blackLogo }}">
  </div>
</footer>