<div class="frame">
    <div class="wrapper">
        <form [formGroup]="releaseSearchForm" (ngSubmit)="onSubmit()" novalidate>
            <div class="tk-container">
                <div class="container-white search-holder col-6">
                    <input type="search" placeholder="Search for releases..." formControlName="search">
                    <input type="submit" value="">
                </div>
                <div class="container-white filter-holder col-3">
                    <select class="search_form_genre" formControlName="genre">
                        <option [ngValue]="null">Select Genre...</option>
                        <option *ngFor="let genre of genres" [value]="genre.name">{{ genre.name }}</option>
                    </select>
                </div>
                <div class="container-white filter-holder col-3">
                    <select class="search_form_type" formControlName="type">
                        <option [ngValue]="null">Select Release Type...</option>
                        <option *ngFor="let type of releaseTypes" [value]="type.type">{{ type.type }}</option>
                    </select>
                </div>
            </div>
        </form>
        <div class="tk-container">
            <div class="tk-container">
                <div class="col-8">
                    <h1>Releases</h1>
                </div>
            </div>
        </div>
        <div class="frame-items">
            <div class="item music" *ngFor="let release of releases">
                <a routerLink="/releases/{{ release.slug }}">
                    <div class="image-container">
                        <img class="lazy-load" [defaultImage]="defaultImage" [errorImage]="errorImage" [lazyLoad]="release.image.medium" title="release.name" alt="release.name">
                    </div>
                </a>
                <div class="text-container">
                    <h2>
                        <a routerLink="/releases/{{ release.slug }}">{{ release.name }}</a>
                    </h2>
                    <p>{{ formatReleaseArtists(release) }}</p>
                </div>
            </div>
        </div>
    </div>
</div> 