<div class="frame">
    <div class="wrapper">
        <div class="tk-container">
            <div class="tk-container">
                <div class="col-8">
                    <h1>Releases</h1>
                </div>
            </div>
        </div>
        <div class="frame-items">
            <div class="item music" *ngFor="let release of releases">
                <a routerLink="/releases/{{ release.slug }}">
                    <div class="image-container">
                        <img class="lazy-load" [defaultImage]="defaultImage" [errorImage]="errorImage" [lazyLoad]="release.image.medium" title="release.name" alt="release.name">
                    </div>
                </a>
                <div class="text-container">
                    <h2>
                        <a routerLink="/releases/{{ release.slug }}">{{ release.name }}</a>
                    </h2>
                    <p>{{ formatReleaseArtists(release) }}</p>
                </div>
            </div>
        </div>
    </div>
</div>