<h2 class="dialog-title" mat-dialog-title>Follow {{ artist.name }} on Spotify</h2>

<mat-spinner *ngIf="loading"></mat-spinner>

<p *ngIf="connectButton">You need to connect with Spotify to follow {{ artist.name }}</p>
<div *ngIf="connectButton" class="btn-center-wrapper">
  <a *ngIf="connectButton" class="btn btn-connect spotify" (click)="spotifyService.connectToSpotify()">Connect to Spotify</a>
</div>

<div *ngIf="unfollowButton || followButton" class="btn-center-wrapper">
  <a *ngIf="unfollowButton" class="btn btn-connect follow" (click)="unfollowArtist()">Unfollow {{ artist.name }}</a>
  <a *ngIf="followButton" class="btn btn-connect follow" (click)="followArtist()">Follow {{ artist.name }}</a>
</div>

<p *ngIf="showErrorMessage">{{ errorMessage }}</p>