<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <!-- <button type="button" class="navbar-toggle collapsed" (click)="isCollapsed = !isCollapsed">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button> -->
      <button (click)="sidenav.toggle()">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </button>
      <a class="navbar-brand" routerLink="/">TradeKraft</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse" >
      <!-- <ul class="nav navbar-nav">
        <li><a routerLink="/releases" routerLinkActive="active">Releases</a></li>
        <li><a routerLink="/artists" routerLinkActive="active">Artist</a></li>
        <li><a routerLink="/events" routerLinkActive="active">Events</a></li>
        <li><a routerLink="/shop" routerLinkActive="active">Shop</a></li>
        <li><a routerLink="/events" routerLinkActive="active">About</a></li>
      </ul> -->
      <ul class="nav navbar-nav navbar-right"></ul>
    </div>
  </div>
</nav>

<mat-sidenav-container class="example-sidenav-fab-container">
  <mat-sidenav #sidenav mode="push" opened="false">
    <div class="example-scrolling-content">
      <a routerLink="/" routerLinkActive="active" (click)="sidenav.close()">Home</a>
      <a routerLink="/releases" routerLinkActive="active" (click)="sidenav.close()">Releases</a>
      <a routerLink="/artists" routerLinkActive="active" (click)="sidenav.close()">Artist</a>
      <!-- <a routerLink="/events" routerLinkActive="active">Events</a>
      <a routerLink="/shop" routerLinkActive="active">Shop</a>
      <a routerLink="/events" routerLinkActive="active">About</a> -->

    </div>
  </mat-sidenav>
  <ng-content select="[content]"></ng-content>
</mat-sidenav-container>