<nav [ngClass]="{ 'navbar-transparent': isTransparent(sidenav) }" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <!-- <button type="button" class="navbar-toggle collapsed" (click)="isCollapsed = !isCollapsed">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button> -->
      <button class="hamburger" (click)="sidenav.toggle()">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </button>
      <a class="navbar-brand" routerLink="/" (click)="sidenav.close()">TradeKraft</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse" >
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="http://m.me/tradekraftcollective" target="_blank">
              <i class="fab fa-facebook-messenger facebook-messenger"></i>
          </a>
        </li>
        <li>
          <a>
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
            Newsletter
          </a>
        </li>
        <li *ngIf="!authService.loggedIn()"><a class="login-button" routerLink="/login">Login</a></li>
        <li *ngIf="authService.loggedIn()">
          <img class="img-circle profile-image" src="{{ authService.getUserImage() }}">
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- <nav>
  <div class="container-fluid">
    <div class="navbar-header">
      <button class="hamburger" (click)="sidenav.toggle()">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </button>
      <a class="navbar-brand" routerLink="/" (click)="sidenav.close()">TradeKraft</a>
    </div>
  </div>
</nav> -->

<mat-sidenav-container class="example-sidenav-fab-container">
  <mat-sidenav #sidenav mode="over" opened="false">
    <div class="example-scrolling-content">
      <div class="search-bar">
        <input id="search" class="search-input  hed-m" placeholder="Search..." value="">
        <div class="search-icon">
          <i class="fa fa-search" aria-hidden="true"></i>
        </div>
      </div>
      <nav class="nav-menu">
        <ul class="nav-items">
          <main-navbar *ngIf="!isAdminNavbar()" [sidenav]="sidenav"></main-navbar>
          <admin-navbar *ngIf="isAdminNavbar()" [sidenav]="sidenav"></admin-navbar>
          <li *ngIf="authService.hasAtLeastOnePermission(adminPanelPermissions)" class="nav-item">
              <a routerLink="/admin" routerLinkActive="active" (click)="sidenav.close()">Admin</a>
          </li>
          <li *ngIf="authService.loggedIn()" class="nav-item">
              <a (click)="sidenav.close(); authService.logout()">Logout</a>
          </li>
          <li *ngIf="!authService.loggedIn()" class="nav-item">
              <a routerLink="/login" routerLinkActive="active" (click)="sidenav.close()">Login</a>
          </li>
        </ul>
      </nav>
    </div>
  </mat-sidenav>
  <ng-content select="[content]"></ng-content>
</mat-sidenav-container>