<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <!-- <button type="button" class="navbar-toggle collapsed" (click)="isCollapsed = !isCollapsed">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button> -->
      <button class="hamburger" (click)="sidenav.toggle()">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </button>
      <a class="navbar-brand" routerLink="/" (click)="sidenav.close()">TradeKraft</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse" >
      <!-- <ul class="nav navbar-nav">
        <li><a routerLink="/releases" routerLinkActive="active">Releases</a></li>
        <li><a routerLink="/artists" routerLinkActive="active">Artist</a></li>
        <li><a routerLink="/events" routerLinkActive="active">Events</a></li>
        <li><a routerLink="/shop" routerLinkActive="active">Shop</a></li>
        <li><a routerLink="/events" routerLinkActive="active">About</a></li>
      </ul> -->
      <ul class="nav navbar-nav navbar-right"></ul>
    </div>
  </div>
</nav>

<mat-sidenav-container class="example-sidenav-fab-container">
  <mat-sidenav #sidenav mode="over" opened="false">
    <div class="example-scrolling-content">
      <nav class="nav-menu">
        <ul class="nav-items">
          <main-navbar *ngIf="!isAdminNavbar()" [sidenav]="sidenav"></main-navbar>
          <admin-navbar *ngIf="isAdminNavbar()" [sidenav]="sidenav"></admin-navbar>
          <li *ngIf="authService.hasAtLeastOnePermission(adminPanelPermissions)" class="nav-item">
              <a routerLink="/admin" routerLinkActive="active" (click)="sidenav.close()">Admin</a>
          </li>
          <li *ngIf="authService.loggedIn()" class="nav-item">
              <a (click)="sidenav.close(); authService.logout()">Logout</a>
          </li>
          <li *ngIf="!authService.loggedIn()" class="nav-item">
              <a routerLink="/login" routerLinkActive="active" (click)="sidenav.close()">Login</a>
          </li>
        </ul>
      </nav>
    </div>
  </mat-sidenav>
  <ng-content select="[content]"></ng-content>
</mat-sidenav-container>