body {
    background: $background-color;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

main {
    background: $off-white;
    display: inline-block;
    height: 100%;
    min-height: calc(100vh - 50px);
    width: 100%;
}

img {
    display: block;
}

.wrapper {
    margin: 0 auto;
    max-width: 1400px;
    padding: 0 65px;
    position: relative;
    width: 100%;

    @include media($mobile) {
        padding: 0 10px;
    }
}

.hide {
    // scss-lint:disable ImportantRule
    display: none !important;
}

.divider {
    border-top: 1px solid rgba(0,0,0,0.1);
    padding-top: 15px;
}

.show {
    display: block;
}

hr {
    background: $mid-grey;
    border: 0;
    border-radius: 8px;
    height: 8px;
    margin: 15px auto;
    opacity: 0.5;
    width: 50px;
}

.center {
    text-align: center;

    img {
        margin: 20px auto;
    }
}

.pager {
    float: left;
    position: relative;
    width: 100%;
}

.row {
    clear: both;
    float: left;
    width: 100%;
}

.spotify-green {
    color: #84bd00;
}

.loading-overlay {
    width: 100px;
    height: 100px;
    position: fixed;
    top: 50%;
    right: 50%;
    z-index: 5000;
}

.right {
    float: right;
}

.no-gutter {
    padding: 0;
}

.small-pad {
    padding-left: 5px;
    padding-right: 5px;
}

mat-spinner {
    margin: auto;
}
