body {
    font-family: $font;
}

input {
    color: $dark-grey;
    font-family: $font;
    font-weight: 300;
    outline: none;
}

a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

@include media($mobile) {
    *:not(.btn, li) {
        a:not(.btn, .menu-item, .log-in, .loggedin) {
            text-decoration: underline;
        }
    }
}

a,
.btn {
    &:hover {
        @include media($desktop) {
            color: $red;
            transition: all 200ms ease-in-out;
        }
    }
}

p {
    line-height: 170%;

    a {
        color: $red;
        text-decoration: underline;
    }
}

h1 {
    font-size: 21px;
    font-weight: 700;
    text-transform: uppercase;
}

h2 {
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    margin-top: 5px;
}

h4 {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

h5 {
    font-size: 12px;
    font-style: italic;
    font-weight: 200;
    margin: 0;
}

button::-moz-focus-inner {
    border: 0;
}

.dialog-title {
    text-align: center;
    font-weight: bold;
    padding-bottom: 15px;
    border-bottom: 1px solid #f0f0f0;
}

.fa-disabled {
    opacity: 0.6;
    cursor: default;
}

.truncate {
    max-width: 350px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}