img.lazy-load {
    opacity: 1;
    transition: opacity 1s;
}

img.lazy-load.ng-lazyloaded {
    opacity: 1;
    animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}