<li class="nav-item">
  <a routerLink="/" (click)="sidenav.close()">Home</a>
</li>
<li>
  Site Administration (Divider)
</li>
<li class="nav-item">
  <a routerLink="/admin/artists" routerLinkActive="active" (click)="sidenav.close()">Artist</a>
</li>
<li class="nav-item">
  <a routerLink="/admin/releases" routerLinkActive="active" (click)="sidenav.close()">Releases</a>
</li>
<li class="nav-item">
  <a routerLink="/admin/genres" routerLinkActive="active" (click)="sidenav.close()">Genres</a>
</li>
<li class="nav-item">
  <a routerLink="/admin/events" routerLinkActive="active" (click)="sidenav.close()">Events</a>
</li>
<li class="nav-item">
  <a routerLink="/admin/videos" routerLinkActive="active" (click)="sidenav.close()">Videos</a>
</li>
<li class="nav-item">
  <a routerLink="/admin/users" routerLinkActive="active" (click)="sidenav.close()">Users</a>
</li>
<li class="nav-item">
  <a routerLink="/admin/roles" routerLinkActive="active" (click)="sidenav.close()">Roles</a>
</li>
<li>
  Divider
</li>
