<div *ngIf="song" class="player">
    <div class="scrub" (click)="scrubClickEvent($event)">
        <div class="progress" [style.width]="scrubPosistion"></div>
    </div>
    <div class="player__main">
        <button (click)="backwards()" class="player-button-small"><i class="fa fa-backward" aria-hidden="true"></i></button>
        <button *ngIf="!paused" (click)="pausePlay()" class="player-button"><i class="fa fa-pause-circle-o"></i></button>
        <button *ngIf="paused" (click)="pausePlay()" class="player-button"><i class="fa fa-play-circle-o"></i></button>
        <button (click)="forwards()" class="player-button-small"><i class="fa fa-forward" aria-hidden="true"></i></button>
        <div class="player-playtime">
            <p *ngIf="song">{{ formatSecondsToTimestamp(currentPlayTime) }} / {{ formatSecondsToTimestamp(getDuration()) }}</p>
        </div>
        <div class="player-song-info">
            <p *ngIf="song">{{ song.name }}</p>
            <p *ngIf="song"><a class="player-aritst-link" *ngFor="let artist of song.artists" routerLink="/artists/{{artist.slug}}">{{ artist.name }}</a></p>
        </div>
        <button class="player-close" (click)="exit()">
            <i class="fa fa-times" aria-hidden="true"></i>
        </button>
        <!-- <div  class="player-volume">
            <mat-slider (input)="onVolumeInputChange($event)" min="0" max="100" step="{{ VOLUME_BAR_STEP }}" value="{{ volume * 100 }}" vertical></mat-slider>
        </div> -->
        <div *ngIf="song" class="player-volume-button" (mouseenter)="volumeButtonHover=true" (mouseleave)="volumeButtonHover=false">
            <i *ngIf="isVolumeOn()" class="fa fa-volume-up" (click)="muteUnmute()" aria-hidden="true"></i>
            <i *ngIf="!isVolumeOn()" class="fa fa-volume-off" (click)="muteUnmute()" aria-hidden="true"></i>
        </div>
        <div *ngIf="release && release.spotify" class="player-spotify">
            <a href="{{ release.spotify }}" target="_blank">
                <i class="fa fa-spotify" aria-hidden="true"></i>
            </a>
        </div>
        <div *ngIf="release" class="player-spotify">
            <a (click)="showShareDialog()">
                <i class="fa fa-share-alt" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</div> 