footer {
  margin-top: 45px;
  margin-bottom: 2em;
  text-align: center;
  
  .copyright, .credit {
    display: block;
    margin-top: .35rem;
    font-size: 14px;
    font-weight: normal;
  }

  .credit {
    font-weight: bold;
    margin-top: 1.35rem;
  }

  img {
    max-width: 120px;
    margin: 0 auto;
    opacity: .15;
  }
}