@include media($desktop) {
  table td.push-right {
    text-align: right;
  }
}

.buy-tickets {
  margin-right: 15px;
  
  & i {
    margin-right: 10px;
  }
}

.event-toggle {
  margin-top: 20px;

  mat-slide-toggle {
    margin: 0 10px;
  }

  p {
    float: right;
    font-weight: bold;
  }
}

.events-table {
  margin-bottom: 20px;
  
  table {
    width: 100%;
    border-collapse: collapse;

    &.events {
      & tr {
        overflow: hidden;

        &:nth-child(odd) > td {
          background: $light-grey;
        }
      }

      & td {
        padding: 0.5em 1em;

        &.date {
          width: 10%;

          & .month {
            text-transform: uppercase;
            display: block;
          }

          & .day {
            font-size: 1.65rem;
            font-weight: bold;
          }
        }

        &.title {
          width: 25%;

          & .name {
            font-weight: bold;
            font-size: 1.2rem;
          }

          & .time {
            display: block;
            color: $mid-dark-grey;
          }
        }

        &.address {
          width: 30%;

          & .venue {
            display: block;
            font-weight: bold;
          }

          & .city {
            display: block;
            color: $mid-dark-grey;
          }
        }
      }
    }
  }
}

.event-header {
  display: inline-block;
  margin-bottom: 20px;
  position: relative;
  width: 100%;

  @include media($tablet) {
      padding: 0 25vw;
  }

  .push-right a {
      margin-right: 1.5em;
  }

  .video-container,
  .wrapper {
      padding: 0;
      width: 100%;
  }

  .title-container {
      float: left;
      width: 100%;
  }

  .image-container {
      position: relative;
  }

  .event-header-event-title {
      display: none;

      @include media($mobile) {
          display: block;
          float: none;
          text-align: center;
      }
  }

  .col-6 {
      h1 {
          font-size: 32px;
          margin: 0;
          margin-bottom: 5px;
      }

      .btn {
          width: 100%;
      }

      .tab-content {
          padding: 20px;
      }
  }

  .col-6 {
      @include media($mobile) {
          .player-inline,
          .title-container {
              display: none;
          }
      }

      .player-inline.spotify {
          display: none;
      }
  }

  .event-event-content {
      display: none;
  }
}