.login-form {
  max-width: 450px;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
}

.login-input {
  margin-top: 10px;
  display: block !important;
}

.login-btn {
  margin-top: 25px;

  & button {
    width: 100%;
  }
}

.login-links {
  text-align: center;
  margin-top: 25px;
}