<div class="frame banner small">
    <img class="image lazy-load" [errorImage]="errorImage" [lazyLoad]="artist.image.original">
</div>
<div class="frame">
    <div class="wrapper">
        <div class="artist-header">
            <div class="col-3">
                <div class="image-container">
                    <img class="lazy-load" [defaultImage]="defaultImage" [errorImage]="errorImage" [lazyLoad]="artist.image.medium" title="{{ artist.name }}"
                        alt="{{ artist.name }}">
                </div>
                <div class="sub-container">
                    <a *ngIf="artist.spotify" mat-raised-button class="silent" (click)="openSpotifyDialog()">
                            <span>Follow on Spotify</span>      
                            <i class="fa fa-spotify spotify-green" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="sub-container">
                    <a mat-raised-button class="silent" routerLink="/artists">
                            <span>Back to artists</span>
                            <i class="fa fa-caret-square-o-right" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div class="col-9">
                <div class="title-container">
                    <h1>{{ artist.name }}</h1>
                </div>
                <div class="social-media push-right">
                    <a *ngIf="artist.facebook" href="{{ artist.facebook }}" target="_blank">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a *ngIf="artist.instagram" href="{{ artist.instagram }}" target="_blank">
                        <i class="fa fa-instagram"></i>
                    </a>
                    <a *ngIf="artist.twitter" href="{{ artist.twitter }}" target="_blank">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a *ngIf="artist.soundcloud" href="{{ artist.soundcloud }}" target="_blank">
                        <i class="fa fa-soundcloud"></i>
                    </a>
                    <a *ngIf="artist.spotify" href="{{ artist.spotify }}" target="_blank">
                        <i class="fa fa-spotify"></i>
                    </a>
                    <!-- <button class="spotify-bt" *ngIf="artist.spotify" (click)="openSpotifyDialog()" title="Follow {{ artist.name }} on Spotify">
                        <i class="fa fa-spotify spotify-logo-bt"></i>
                        possibly check if user is authenticated and already follows, then have it say following
                        <span class="spotify-bt-text">Follow</span>
                    </button> -->
                </div>
                <read-more class="text-container artist-description" [text]="artist.description" [maxLength]="500"></read-more>

                <div *ngIf="hasReleases(artist)" class="text-container present divider">
                    <h2>Releases</h2>
                </div>
                <div *ngIf="hasReleases(artist)" class="frame-items">
                    <div class="item artist-music" *ngFor="let release of artist.releases.artistReleases">
                        <a routerLink="/releases/{{release.slug}}">
                            <div class="image-container">
                                <img class="lazy-load" [defaultImage]="defaultImage" [errorImage]="errorImage" [lazyLoad]="release.image.thumb" title="release.name"
                                    alt="release.name">
                            </div>
                        </a>
                        <div class="text-container">
                            <h2>
                                <a routerLink="/release/{{release.slug}}">{{ release.name }}</a>
                            </h2>
                            <p>{{ formatReleaseArtists(release) }}</p>
                        </div>
                    </div>
                </div>

                <div *ngIf="hasAppearsOn(artist)" class="text-container present divider">
                    <h2>Appears On</h2>
                </div>
                <div *ngIf="hasAppearsOn(artist)" class="frame-items">
                    <div class="item artist-music" *ngFor="let release of artist.releases.appearsOn">
                        <a routerLink="/releases/{{release.slug}}">
                            <div class="image-container no-margin">
                                <img class="lazy-load" [defaultImage]="defaultImage" [errorImage]="errorImage" [lazyLoad]="release.image.thumb" title="release.name"
                                    alt="release.name">
                            </div>
                        </a>
                        <div class="text-container">
                            <h2>
                                <a routerLink="/release/{{release.slug}}">{{ release.name }}</a>
                            </h2>
                            <p>{{ formatReleaseArtists(release) }}</p>
                        </div>
                    </div>
                </div>

                <div *ngIf="hasEvents(artist)" class="text-container present divider">
                    <h2>Events</h2>
                </div>
                <div *ngIf="hasEvents(artist)" class="frame-items">
                    <event-container class="col-4" *ngFor="let event of artist.events" [event]="event" [shorter]="true" [noMargin]="true"></event-container>
                </div>
            </div>
        </div>
    </div>
</div>