<div class="release-preview-container">
    <div class="homepage-title">
        <div class="col-xs-6 small-pad">
            <h1>Releases</h1>
        </div>
        <div class="col-xs-6 small-pad">
            <a class="h2-margins right" routerLink="/releases">more releases <i class="fas fa-angle-right"></i></a>
        </div>
    </div>

    <!-- 4 releases 1 row -->
    <div class="release-container">
        <release-container *ngFor="let release of releases" [release]="release"></release-container>
    </div>
</div>
