<div class="frame banner small">
    <img class="image lazy-load" [errorImage]="errorImage" [lazyLoad]="release.image.original">
</div>
<div class="frame">
    <div class="wrapper">
        <div class="release-header">
            <div class="col-3">
                <div class="image-container">
                    <!-- <span class="icon play white pseudo-play">Play</span>
                    <span class="icon pause white pseudo-pause">Pause</span> -->
                    <img class="lazy-load" [defaultImage]="defaultImage" [errorImage]="errorImage" [lazyLoad]="release.image.medium" title="{{ release.name }}" alt="{{ release.name }}">
                </div>
                <div class="sub-container">
                    <h5 class="release-header-label">Release Date: </h5>
                    <h5 class="release-header-date">{{ formatReleaseDate(release.releaseDate) }}</h5>
                </div>
                <div class="sub-container">
                    <a *ngIf="release.spotify" mat-raised-button class="silent" (click)="openSpotifyDialog()">
                        <div class="button-wrapper">  
                            <span>Add to your Spotify playlist</span>      
                            <i class="fa fa-spotify spotify-green" aria-hidden="true"></i>
                        </div>
                    </a>
                </div>
                <div class="sub-container">
                    <a mat-raised-button class="silent" routerLink="/releases">
                        <div class="button-wrapper">  
                            <span>Back to releases</span>      
                            <i class="fa fa-caret-square-o-right" aria-hidden="true"></i>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-9">
                <div class="title-container">
                    <h1>{{ release.name }}</h1>
                    <h2>{{ formatReleaseArtists(release) }}</h2>
                </div>
                <div class="social-media push-right">
                    <a *ngIf="release.spotify" href="{{ release.spotify }}" target="_blank">
                        <i class="fa fa-spotify"></i>
                    </a>
                    <a *ngIf="release.appleMusic" href="{{ release.appleMusic }}" target="_blank">
                        <i class="fa fa-apple"></i>
                    </a>
                    <a *ngIf="release.googlePlay" href="{{ release.googlePlay }}" target="_blank">
                        <i class="fa fa-google"></i>
                    </a>
                    <a *ngIf="release.soundcloud" href="{{ release.soundcloud }}" target="_blank">
                        <i class="fa fa-soundcloud"></i>
                    </a>
                    <a *ngIf="release.amazon" href="{{ release.amazon }}" target="_blank">
                        <i class="fa fa-amazon"></i>
                    </a>
                </div>

                <music-table [songs]="release.songs"></music-table>

                <div *ngIf="release.contests" class="frame frame-contests">
                    <div class="wrapper">
                        <div class="text-container present divider">
                            <h2>Contest</h2>
                        </div>
                        <div class="frame-items">
                            <a class="item react black" routerLink="/contests/{{ release.contests.slug }}">
                                <div class="image-container">
                                    <!-- do this later -->
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Release video(s) -->

                <div class="text-container present divider">
                    <h2>Release Artists</h2>
                </div>
                <div class="frame-items">
                    <a class="item artist artist-mix" *ngFor="let artist of artists" routerLink="/artists/{{ artist.slug }}">
                        <div class="image-container no-margin">
                            <img class="lazy-load" [defaultImage]="defaultImage" [errorImage]="errorImage" [lazyLoad]="artist.image.medium" title="artist.name" alt="artist.name">
                        </div>
                        <div class="text-container no-margin">
                            <h2>{{ artist.name }}</h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>