<a class="item react mix" routerLink="/events/{{ event.slug }}">
  <div class="image-container" [ngClass]="{'shorter': shorter, 'no-margin': noMargin}">
      <div class="count active">
          <div class="count-ribbon">{{ getDaysRemaining(event) }}</div>
      </div>
      <div class="date">
          <h1>{{ formatEventStartDateTime(event) }}</h1>
      </div>
      <img class="lazy-load" [defaultImage]="defaultImage" [errorImage]="errorImage" [lazyLoad]="event.images.original.link" alt="event title">
  </div>
  <div class="text-container" [ngClass]="{'shorter': shorter, 'no-margin': noMargin}">
      <h2>{{ event.name }}</h2>
      <h4>{{ getEventLocationShortFormat(event) }}</h4>
      <span class="btn default">View More</span>
  </div>
</a>