<div class="col-xs-6 small-pad event">
    <a routerLink="/events/{{ event.slug }}">
        <div class="event-img-container">
            <div class="count active">
                <div class="count-ribbon">{{ getDaysRemaining(event) }}</div>
            </div>
            <img class="img-responsive lazy-load event-img" [defaultImage]="defaultImage" [errorImage]="errorImage" [lazyLoad]="event.images.medium.link" [offset]="lazyLoadOffest" title="{{ event.name }}" alt="{{ event.name }}">
            <div class="date-card">
                <span>{{ formatEventStartDateTime(event.startDateTime) }}</span>
            </div>
        </div>
        <div class="event-info">
            <h1>{{ event.name }}</h1>
            <p>{{ processDescriptionPreview(event) }}</p>
            <p class="event-container-location">Location: <span>{{ getEventLocationShortFormat(event) }}</span></p>
        </div>
    </a>
</div>