<h2 class="dialog-title" mat-dialog-title>Add {{ release.name }} to your Spotify playlist</h2>

<mat-spinner *ngIf="loading"></mat-spinner>

<p *ngIf="connectButton">You need to connect with Spotify to add {{ release.name }} to your playlist.</p>
<div *ngIf="connectButton" class="btn-center-wrapper">
  <a class="btn btn-connect spotify" (click)="spotifyService.connectToSpotify()">Connect to Spotify</a>
</div>

<div *ngIf="showPlaylists" class="spotify-playlists">
  <table>
    <tbody>
      <tr class="playlist-field">
        <td>
          <form [formGroup]="playlistForm" (ngSubmit)="onSubmit()" novalidate>
            <mat-form-field>
              <input matInput placeholder="Create a new Spotify playlist" formControlName="playlist">
            </mat-form-field>
          </form>
        </td>
        <td>
          <button mat-icon-button (click)="onSubmit()">
            <mat-icon class="fa fa-plus-circle"></mat-icon>
          </button>
        </td>
      </tr>
      <tr *ngFor="let playlist of playlists" (click)="addToPlaylist(playlist.id)">
          <td class="truncate">{{ playlist.name }}</td>
          <td>
            <i class="fa fa-plus" aria-hidden="true"></i>
          </td>
      </tr>
    </tbody>
  </table>
</div>

<p *ngIf="showErrorMessage">{{ errorMessage }}</p>