<div class="frame banner large video">
    <a *ngIf="randomVideo.song" routerLink="/releases/{{ randomVideo.song.release.slug }}" title="{{ videoTitle }}">
        <div class="container">
            <div class="wrapper">
                <div class="col-8">
                    <h1>{{ videoTitle }}</h1>
                    <h2 *ngIf="videoSubtitle">{{ videoSubtitle }}</h2>
                </div>
            </div>
        </div>
        <video poster="{{ videoThumnail }}" autoplay="autoplay" loop="loop" muted>
            <source src="{{ videoMp4Link }}" type="video/mp4" >
            <source src="{{ videoWebmLink }}" type="video/webm" >
        </video>
    </a>

    <a *ngIf="!randomVideo.song" href="{{ randomVideo.externalUrl }}" title="{{ videoTitle }}">
        <div class="container">
            <div class="wrapper">
                <div class="col-8">
                    <h1>{{ videoTitle }}</h1>
                    <h2 *ngIf="videoSubtitle">{{ videoSubtitle }}</h2>
                </div>
            </div>
        </div>
        <video poster="{{ videoThumnail }}" autoplay="autoplay" loop="loop" muted>
            <source src="{{ videoMp4Link }}" type="video/mp4" >
            <source src="{{ videoWebmLink }}" type="video/webm" >
        </video>
    </a>
</div>
<release-preview></release-preview>
<event-preview></event-preview>